{% load static %}
 <section id="portfolio">
    <h2 class="text-center">Herramientas del proyecto</h2>
    <hr class="divider my-4" />
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'core/assets/img/portfolio/fullsize/1.jpg' %}"
                            ><img class="img-fluid" src="{% static 'core/assets/img/portfolio/thumbnails/1.jpg' %}" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Python</div>
                                <div class="project-name">Versión 3.7</div>
                            </div></a
                        >
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'core/assets/img/portfolio/fullsize/2.jpg' %}"
                            ><img class="img-fluid" src="{% static 'core/assets/img/portfolio/thumbnails/2.jpg' %}" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Django</div>
                                <div class="project-name">Para la aplicación web en su verión 2.2</div>
                            </div></a
                        >
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'core/assets/img/portfolio/fullsize/3.jpg' %}"
                            ><img class="img-fluid" src="{% static 'core/assets/img/portfolio/thumbnails/3.jpg' %}" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Experta</div>
                                <div class="project-name">Libreria de python basada en Pyknow para sistemas expertos</div>
                            </div></a
                        >
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'core/assets/img/portfolio/fullsize/4.jpg' %}"
                            ><img class="img-fluid" src="{% static 'core/assets/img/portfolio/thumbnails/4.jpg' %}" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Aduino</div>
                                <div class="project-name">Lenguaje aplicado para el embebido</div>
                            </div></a
                        >
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'core/assets/img/portfolio/fullsize/5.jpg' %}"
                            ><img class="img-fluid" src="{% static 'core/assets/img/portfolio/thumbnails/5.jpg' %}" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div></a
                        >
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% static 'core/assets/img/portfolio/fullsize/6.jpg' %}"
                            ><img class="img-fluid" src="{% static 'core/assets/img/portfolio/thumbnails/6.jpg' %}" alt="" />
                            <div class="portfolio-box-caption p-3">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div></a
                        >
                    </div>
                </div>
            </div>
        </section>